<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <aop:aspectj-autoproxy/>
    <bean id="aspect" class="org.example.Aop"></bean>
    <bean id="hello" class="org.example.HelloWorld"></bean>

    <aop:config>
        <aop:aspect id="aspect1" ref="aspect">
            <aop:pointcut id="selectDesc" expression="execution(* org.example.HelloWorld.desc())"/>
            <aop:before method="before" pointcut-ref="selectDesc"/>
            <aop:after method="after" pointcut-ref="selectDesc"/>
            <aop:after-returning method="Returning" returning="o" pointcut-ref="selectDesc"/>
        </aop:aspect>
    </aop:config>
</beans>